DATABASE_URL="postgresql://neondb_owner:npg_oBPOs79CzbDm@ep-long-base-a91n4tjc-pooler.gwc.azure.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_SECRET="..."
NEXTAUTH_URL="http://localhost:3000"
OPENAI_API_KEY="..."